<div class="jumbotron">
  <h1>Add Numbers</h1>
</div>
<div class="container">
  <form action="/numbers/fromcsv" class="form" method="post">
    <div class="control-group">
      <textarea name="csv" class="form-control" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="row">
      <input type="submit" class="btn btn-success" value="Submit">
    </div>
  </form>
</div>